<?php
// SHA1 of the password you want for the admin panel
// Default is `password`
$password = '5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8';
$db_db = "aft"; // Database name
$db_host = "localhost"; // Database host
$db_name = "aft"; // Database username
$db_pass = "password"; // Database password
$img_serv = ""; // Image server, leave blank if kept locally
$db_prefix = "";
$css_suffix = "";
?>

