div.sub {
    margin: 0 auto 10 auto;
}
div.image {
    margin-bottom: 10;
}
div.text {
    margin: 10 50;
    text-align: left;
}
form {
    display: table;
}
div.formentry {
    display: table-row;
}
span.label {
    display: table-cell;
    vertical-align: top;
}
span.field {
    display: table-cell
}
.formbutton {
    float: right;
}
.table {
    border: 1px solid black;
    border-spacing: 0px;
    display: table;
    text-align: center;
}
.top-row, .row, .row-read {
    display: table-row;
    border-spacing: 0px;
}
.top-row {
    font-weight: bold;
    background-color: #CCCCFF;
}
.row-read {
    background-color: #FFEEFF;
}
.row {
    background-color: #DDFFFF;
}
.read, .post_title, .by, .replies, .last {
    display: table-cell;
    border: 0.5px solid black;
}
.post_title {
    width: 30%;
}
tr.row:hover, tr.row-read:hover, tr.rowhover, tr.row-readhover {
    background-color: #FFFFCC;
}
ul.post-nav {
    list-style-type: none;
    display: table;
    margin: 0px auto;
}
li.post-nav {
    display: table-cell;
    padding: 0px 10px;
}
