body {
    text-align: center;
}
#all {
    margin: 0px auto;
}
#content {
    display: inline;
}
#left, #right, #middle {
    position: absolute;
    display: inline;
/*  60px for title only 90px with subtitle */
    top: 90px;
}
#left {
    left: 50px;
    width: 560px;
}
#middle {
}
#right {
    left: 650px;
    width: 300px;
}
#logo {
    position: absolute;
}
#pic_left, #pic_right {
    border: none;
}
