a {
    color: #0000AA;
}
a:hover {
    color: red;
}
img {
    border: 0px;
}
span.job {
    font-style: italic;
}
body {
    font-family: sans-serif;
    background-color: #DDFFFF;
    color: black;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
    color: black;
    font-size: 35px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 3px 0px;
    color: white;
    background-color: #0000FF;
    margin-top: 0px;
}
h2#sub {
    color: black;
    background-color: transparent;
}
p {
    font-family: sans-serif;
    margin: 10px 10px;
}
ul {
    font-family: sans-serif;
}
li.ajaxy {
    font-weight: bold;
}
#all {
    margin: 0px 50px;
}
#header {
}
#content {
    display: table-row;
}
#bl, #br {
    display: table-cell;
}
#left, #right, #middle {
    margin-top: 0px;
    display: table-cell;
    padding: 10px;
}
#left {
}
#right {
    width: 300px;
}
.box_left, .box_right {
    margin-top: 10px;
    padding: 0px;
    text-align: left;
    border: thin solid black;
}
.box_left {
    background-color: #5599DD;
}
.box_right {
    background-color: #3377BB;
}
#logo {
    position: absolute;
}
#pic_box {
    display: table;
    margin: 10px auto;
    height: 300px;
    border: thin solid black;
    background-color: white;
}
#pic_left, #pic_right {
    display: table-cell;
}
#pic_left {
    border-right: thin solid black;
}
#pic_right {
    border-left: thin solid black;
}
#pic_container {
    display: table-cell;
    width: 400px;
}
