a {
    color: blue;
}
a:hover {
    color: red;
}
img {
    border: 0px;
}
span.job {
    font-style: italic;
}
body {
    font-family: sans-serif;
    background-color: black;
    color: black;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 0px;
    color: white;
    font-size: 35px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 3px 0px;
}
p {
    font-family: sans-serif;
    margin: 10px 10px;
}
ul {
    font-family: sans-serif;
}
li.ajaxy {
    font-weight: bold;
}
#all {
    margin: 0px 50px;
}
#header {
}
#content {
    display: table-row;
}
#bl, #br {
    display: table-cell;
}
#left, #right, #middle {
    margin-top: 0px;
    display: table-cell;
    padding: 10px;
}
#left {
}
#right {
    width: 300px;
}
.box_left, .box_right {
    margin-top: 10px;
    padding: 1px;
    text-align: left;
}
.box_left_inner, .box_right_inner {
    border: thin solid black;
}
.box_left {
    background-color: #6CB6E7;
}
.box_right {
    background-color: #BDD92D;
}
#middle {
    width: 90px;
    background-image: url('http://two.xthost.info/aft/img/logo.jpg');
    background-repeat: repeat-y;
}
#logo {
    position: absolute;
}
#pic_box {
    display: table;
    margin: 10px auto;
    height: 300px;
    border: thin solid black;
    background-color: white;
}
#pic_left, #pic_right {
    display: table-cell;
}
#pic_left {
    border-right: thin solid black;
}
#pic_right {
    border-left: thin solid black;
}
#pic_container {
    display: table-cell;
    width: 400px;
}
